on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: docker.io
  IMAGE_NAME: glossary-grpc

jobs:
    docker:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.14"

        - name: Login to DockerHub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: |
              ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
              ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}

    ssh:
      runs-on: ubuntu-latest
      needs: docker

      steps:
        - name: Deploy to VM via SSH
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.VM_HOST }}
            username: ${{ secrets.VM_USER }}
            key: ${{ secrets.VM_SSH_KEY }}
            script: |
              echo ${{ secrets.DOCKERHUB_TOKEN }} | sudo docker login ${{ env.REGISTRY }} -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
              sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
              
              sudo docker stop ${{ env.IMAGE_NAME }} || true
              sudo docker rm   ${{ env.IMAGE_NAME }} || true
              
              sudo docker run -d --name ${{ env.IMAGE_NAME }} -p ${{ secrets.APP_PORT }}:${{ secrets.APP_PORT }} --restart always ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest